<nav class="navbar position-fixed row justify-content-center d-flex" style="width: 100%;">
    <div class="title col-2 navtitle" style="font-size: 2.5rem !important; margin-left:40px">
        <span><span class="M">M</span><span class="E">E</span><span class="A">A</span><span class="N">N</span></span>
        <h4>Stack</h4>
    </div>
    <div class="col-7"></div>
    <div class="col-2">
        <button routerLinkActive="active" routerLink="/add-car" type="button" class="btn btn-circle btn-lg"><fa-icon [icon]="faPlus"></fa-icon></button>
        <button routerLinkActive="active" routerLink="/cars-list" type="button" class="btn btn-circle btn-xl"><fa-icon [icon]="faList"></fa-icon></button>
        <button routerLinkActive="active" routerLink="/" type="button" class="btn btn-circle btn-md"><fa-icon [icon]="faHome"></fa-icon></button>
    </div>
</nav>

<router-outlet></router-outlet>