<nav class="navbar position-fixed">
    <div class="title m-3" style="float:left;font-size: 40px !important;">
        <span>MEAN</span>
        <h4>Stack</h4>
    </div>

</nav>


<div class="main-content">
    <div class="d-flex justify-content-center align-items-center container">
        <div class="title col-5">
            <span>Olá! Seja bem vindo(a) ao meu projeto <span class="M">M</span><span class="E">E</span><span class="A">A</span><span class="N">N</span> Stack</span>
        </div>
        <div class="col-4 start d-block">
            <h5>O que você deseja fazer?</h5>
            <div class="btn-box d-block">
                <a routerLinkActive="active" routerLink="/add-car" class="">
                    <button id="novo" class="botao">Adicionar um novo veículo</button>
                </a>
                <a routerLinkActive="active" routerLink="/cars-list" class="">
                    <button class="botao">Navegar para a Lista</button>

                </a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>